#ifndef SECRETS_H
#define SECRETS_H

/**
 * Renomeie este arquivo para 'secrets.h' e insira suas credenciais reais.
 * O arquivo 'secrets.h' está no .gitignore para evitar exposição pública.
 */

#define WIFI_STA_SSID      "SEU_WIFI_NOME"
#define WIFI_STA_PASSWORD  "SUA_WIFI_SENHA"
#define MQTT_BROKER_URI    "mqtt://192.168.0.XXX:1883"
#define MQTT_USERNAME      NULL
#define MQTT_PASSWORD      NULL

// Identificação do Dispositivo
#define DEVICE_ID          "esp32s3_01"
#define MQTT_TOPIC         "sensores/esp32s3_01/dados"

#endif // SECRETS_H
